# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE / editor folders
.vscode/
.idea/

# macOS files
.DS_Store

# Logs
*.log
